/*@import "compass/reset";*/

$width: 600px;
$height: 300px;
$consoleColor: #CCCCCC;
$consoleBkg: #000000;
$baseSize: 14px;
$lineHeight: 16px;

body {
		font-size: $baseSize;
		line-height: $lineHeight;
		background: #CCCCCC;
}

h1 {
		font-weight: bold;
		font-size: 200%;
		margin: 0 0 0.5em 0;
}

.wrapper {
		padding: 0 10px;

		#status {
				margin-bottom: 0.5em;

				#connect-btn {
						margin-left: 0.5em;
				}
		}
		#console {
				width: 100%;
				height: $height;
				color: $consoleColor;
				background: $consoleBkg;
				padding: 4px 6px;
				overflow: scroll;

        .username {
            color: red;
        }
		}

		#message {
				margin: 0;
				border: 0;
				width: $width;
		}
}

