/*@import "compass/reset";*/
/* line 10, ../sass/screen.scss */
body {
  font-size: 14px;
  line-height: 16px;
  background: #CCCCCC;
}

/* line 16, ../sass/screen.scss */
h1 {
  font-weight: bold;
  font-size: 200%;
  margin: 0 0 0.5em 0;
}

/* line 22, ../sass/screen.scss */
.wrapper {
  padding: 0 10px;
}
/* line 25, ../sass/screen.scss */
.wrapper #status {
  margin-bottom: 0.5em;
}
/* line 28, ../sass/screen.scss */
.wrapper #status #connect-btn {
  margin-left: 0.5em;
}
/* line 32, ../sass/screen.scss */
.wrapper #console {
  width: 100%;
  height: 300px;
  color: #cccccc;
  background: black;
  padding: 4px 6px;
}
/* line 40, ../sass/screen.scss */
.wrapper #message {
  margin: 0;
  border: 0;
  width: 600px;
}
